$website-width: 1100px;
// Colors
$primary-color: #1dd2e4;
$primary-dark-color: #12929e;

$secondary-color: #7fe0a4;
$secondary-dark-color: #68b886;

$light-color: #fff;
$dark-color: #333;

// Images
$header-home-image: url('../img/IMG_1474_edited.jpg');
$about-image: url('..img/IMG_1471.jpg');

// Gallery Feature Images
$gallery-feature:url('../img/IMG_1470.jpg');